$prefix         : "dsl";
$root_font      : "Roboto";

$font_normal : 400; 
$font_semi_bold : 500;
$text_color : #000;
$root_font_size : 18px;



$color_primary: #ff0000;
$color_secondary: #008000;
$color_gray: #818181;
$color_white : #fff;
$color_black: #000;
$primary_bg_text_color: #fff;
$secondary_bg_text_color: #fff;