.#{$prefix}-ice-cream{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &.#{$prefix}-ice-cream-with-primary-bg{
        background-color: $color_primary;
    }
    span{
        display: inline-block;
    }
    .#{$prefix}-cream{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #fff;
        position: relative;
    }
    .#{$prefix}-cone{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 32px 24px 0 24px;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        bottom: 0;
    }
}